/*==GLOBAL STYLES==*/

* {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: #AB08D4;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.highlight {
    color: #AB08D4;
}

.showMoreButton img, .showLessButton img {
    height: 10px;
    width: 10px;
}

.showLessButton {
    display: none;
}

.showLessButton img {
    transform: rotate(180deg);
}

.showMoreButtonLeft img {
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
}

.showMoreButtonRight img {
    height: 10px;
    width: 10px;
    transform: rotate(270deg);
}

.required {
    color: red;
}

/*==MOBILE NAVBAR==*/

.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-container {
    margin: 0 auto;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*==Hamburger Menu Button==*/

.menu-toggle {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    z-index: 1001;
    padding: 0;
}

.menu-toggle span {
    width: 24px;
    height: 2px;
    background: black;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
}

/*==Hamburger Animation==*/

.menu-toggle.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.menu-toggle.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/*==Mobile Menu==*/

.nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    background: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu.active {
    max-height: calc(100vh - 75px);
}

.nav-menu ul {
    list-style: none;
    padding: 2rem 1.5rem;
}

.nav-menu li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu.active li {
    opacity: 1;
    transform: translateY(0);
}

/* Staggered animation for menu items */
.nav-menu.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-menu.active li:nth-child(2) { transition-delay: 0.15s; }
.nav-menu.active li:nth-child(3) { transition-delay: 0.2s; }
.nav-menu.active li:nth-child(4) { transition-delay: 0.25s; }
.nav-menu.active li:nth-child(5) { transition-delay: 0.3s; }
.nav-menu.active li:nth-child(6) { transition-delay: 0.35s; }
.nav-menu.active li:nth-child(7) { transition-delay: 0.4s; }
.nav-menu.active li:nth-child(8) { transition-delay: 0.45s; }

.nav-menu a {
    display: block;
    padding: 1rem 0;
    font-size: 1.125rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
    position: relative;
}

.nav-menu li:last-child a {
    border-bottom: none;
}

.nav-menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: #AB08D4;
    transition: width 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a:active {
    color: #AB08D4;
    padding-left: 1rem;
}

.nav-menu a:hover::before {
    width: 40px;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 0;
}

#desktopNavbar {
    display: none;
}

/*==LANDING PAGE==*/

#landingPage {
    background: linear-gradient(to bottom, #AB08D4, white);
    padding-top: 20%;
    width: 95%;
    display: flex;
    padding-left: 5%;
}

#landingPage h1 {
    color: white;
    font-size: 25px;
    width: 200px;
    margin-top: 20%;
}

#landingPage h2 {
    color: #AB08D4;
    font-size: 15px;
    width: 200px;
}

#landingPage a {
    color: #AB08D4;
}

#landingPage img {
    height: 250px;
    width: auto;
    margin-top: -3%;
    margin-left: -20%;
    overflow-x: hidden;
}

#landingPage button, #landingPage a {
    font-size: 10px;
    margin-top: 20%;
}

#landingPage button {
    margin-right: 10%;
}

/*==ABOUT US==*/

#aboutUs {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    margin-bottom: -23px;
    background: linear-gradient(to bottom, white, #AB08D4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutUs h1 {
    color: #AB08D4;
}

#aboutUs img {
    max-width: 90%;
    height: 500px;
    width: auto;
}

#aboutUsPerson1 img {
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
}

#aboutUsPerson2 img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10%;
    box-shadow: 0px 0px 20px white;
}

#aboutUsPerson2 .highlight {
    color: white;
}

/*==SERVICES==*/

#services {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background: linear-gradient(to bottom, #AB08D4, white);
    margin-top: 0;
}

#services h1 {
    color: white;
}

#services h3 {
    color: #AB08D4;
}

.servicesCard {
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding: 5%;
    padding-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.servicesCard img {
    height: 200px;
    width: auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    margin-bottom: 5%;
}

/*==GALERIJA==*/

#gallery {
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, white, #AB08D4);
    padding-bottom: 50px;
    margin-bottom: -22px;
}

#gallery h1 {
    color: #AB08D4;
}

.haircutType {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgDiv {
    overflow: hidden;
}

.images {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

.images img {
    height: auto;
    width: 200px;
    border-radius: 20px;
}

#gallery .showMoreButton button, #gallery .showLessButton button {
    box-shadow: 0px 0px 5px white;
}

#gallery h3 {
    color: #AB08D4;
}

#gallery h3:last-of-type {
    color: white;
}

.hiddenGallery {
    display: none;
}

/*==PRODUCTS==*/

#products {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background: linear-gradient(to bottom, #AB08D4, white);
}

#products h1, #products a {
    color: white;
    text-decoration: none;
}

#products a {
    font-size: smaller;
}

#productsTable {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

#productsTableHeader {
    background-color: #AB08D4;
    color: white;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

#items {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#product2, #product3, #product4, #product5, #product6 {
    display: none;
}

.product {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product img {
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
}

#products .showMoreButtonLeft button, #products .showMoreButtonRight button {
    padding-left: 10px;
    padding-right: 10px;
}

/*==GIFT CARD==*/

#giftCards {
    width: 90%;
    text-align: center;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(to bottom, white, #AB08D4);
    padding-bottom: 50px;
}

#giftCards h1, #giftCards h2 {
    color: #AB08D4;
}

.giftCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.giftCard img {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*==EXTRA OFFERS==*/

#extraOffers {
    width: 90%;
    text-align: center;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -23px;
    background: linear-gradient(to bottom, #AB08D4, white);
}

#extraOffers h1 {
    color:white;
}

#extraOffers .extraOffer h1 {
    color:#AB08D4;
}

.extraOffer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.extraOffer img {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
}

/*==CONTACT==*/

#contact {
    width: 90%;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to bottom, white, #AB08D4);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}

#contact form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#contact form input, textarea {
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    height: 35px;
}

textarea {
    min-height: 120px;
}

#contact h1 {
    color:#AB08D4
}

#contact #ownerImg {
    display: none;
}

#contact img {
    height: 25px;
    width: auto;
    box-shadow: 0px 0px 10px white;
    border-radius: 50%;
}

#contact button {
    box-shadow: 0px 0px 10px white;
}

#sendContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sendContact a {
    font-size: smaller;
    color: white;
    text-decoration: none;
}

/*==FOOTER==*/

footer {
    width: 100%;
    text-align: center;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerSection p {
    margin-top: -10px;
    color: #848484;
}

.footerSection h3 {
    font-weight: 900;
}

#footerSectionLogo img {
    height: 75px;
    width: 75px;
}

#footerSectionLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#socialMedia img {
    height: 25px;
    width: 25px;
}

#socialMedia {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#footerSectionContact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#footerSectionContact img {
    height: 25px;
    width: 25px;
}

.contactPair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactPair a {
    color: #AB08D4;
}

/*==SCREEN SIZES==*/

@media screen and (min-width: 426px) and (max-width: 768px) {
    #landingPage img {
        height: 400px;
        margin-top: -11%;
        margin-left: -15%;
    }

    #landingPage h1 {
        font-size: 30px;
    }

    #landingPage h2 {
        font-size: 20px;
        margin-top: -10%;
    }

    #landingPage button, #landingPage a {
        font-size: 12px;
    }

    #aboutUs {
        display: flex;
        text-align: left;
        align-items: start;
        padding-bottom: 100px;
    }

    #aboutUsPerson1, #aboutUsPerson2 {
        display: flex;
        gap: 50px;
    }

    #aboutUsPerson1 p, #aboutUsPerson2 p {
        max-width: 400px;
    }

    #gallery {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .haircutType {
        margin-bottom: 50px;
    }

    #product2 {
        display: flex;
    }

    #giftCards {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    #contact {
        margin-top: 100px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #footerSectionContact {
        justify-content: center;
    }

    #footerSectionLogo {
        margin-top: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #landingPage img {
        height: 400px;
        margin-top: -13%;
        margin-left: -20%;
    }

    #landingPage h1 {
        font-size: 50px;
        width: 400px;
        margin-top: -5%;
    }

    #landingPage h2 {
        font-size: 30px;
        width: 500px;
        margin-top: -5%;
    }

    #landingPage button, #landingPage a {
        font-size: 15px;
        margin-top: 5%;
    }

    #aboutUs {
        display: flex;
        text-align: left;
        align-items: start;
        padding-bottom: 100px;
    }

    #aboutUsPerson1 img {
        height: 430px;
    }

    #aboutUsPerson1, #aboutUsPerson2 {
        display: flex;
        gap: 100px;
    }

    #aboutUsPerson1 p, #aboutUsPerson2 p {
        max-width: 500px;
    }

    #aboutUsPerson2 p:first-of-type {
        margin-top: 20%;
    }

    #gallery {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    #gallery .img2, #gallery .img3 {
        display: block;
    }

    .haircutType {
        margin-bottom: 50px;
    }

    .images {
        width: 600px;
    }

    #product2, #product4, #product5 {
        display: flex;
    }

    #productCards {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .threeItems {
        display: flex;
        justify-content: space-around;
    }

    #giftCards {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    #contact {
        margin-top: 100px;
    }

    #contact #ownerImg {
        display: flex;
        height: 500px;
        width: auto;
        border-radius: 20px;
    }

    #form {
        display: flex;
        justify-content: space-around;
    }

    form {
        width: 50%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #footerSectionContact {
        justify-content: center;
    }

    #footerSectionLogo {
        margin-top: 15px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1550px) {
    .navbar {
        display: none;
    }

    #desktopNavbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 100;
    }

    #desktopNavbar img {
        height: 75px;
        width: 75px;
    }

    #desktopNavbar a {
        text-decoration: none;
        color: black
    }
    
    #landingPage img {
        height: 500px;
        margin-top: -16%;
        margin-left: 5%;
    }

    #landingPage h1 {
        font-size: 60px;
        width: 400px;
        margin-top: -30%;
    }

    #landingPage h2 {
        font-size: 30px;
        width: 500px;
        margin-top: -5%;
    }

    #landingPage button, #landingPage a {
        font-size: 15px;
        margin-top: 20%;
    }

    #aboutUs {
        display: flex;
        text-align: left;
        align-items: start;
        padding-bottom: 100px;
        width: 70%;
        padding-left: 20%;
        padding-right: 10%;
        margin-top: 100px;
    }

    #aboutUsPerson1 img {
        height: 430px;
    }

    #aboutUsPerson1, #aboutUsPerson2 {
        display: flex;
        gap: 100px;
    }

    #aboutUsPerson1 p, #aboutUsPerson2 p {
        max-width: 500px;
    }

    #aboutUsPerson2 p:first-of-type {
        margin-top: 20%;
    }

    #services {
        max-width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #gallery {
        margin-top: 100px;
        padding-bottom: 100px;
        max-width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #gallery .img2, #gallery .img3 {
        display: block;
    }

    .haircutType {
        margin-bottom: 50px;
    }

    .images {
        width: 900px;
    }

    .images img {
        height: auto;
        width: 300px;
    }

    #productsTable {
        max-width: 80%;
        margin-left: 10%;
    }

    #product2, #product3, #product4, #product5, #product6 {
        display: flex;
    }

    #productCards {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .threeItems {
        display: flex;
        justify-content: space-around;
    }

    #giftCards {
        margin-top: 100px;
        padding-bottom: 100px;
        max-width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #extraOffers {
        max-width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #contact {
        margin-top: 100px;
        max-width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #contact #ownerImg {
        display: flex;
        height: 500px;
        width: auto;
        border-radius: 20px;
    }

    #form {
        display: flex;
        justify-content: space-around;
    }

    form {
        width: 50%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #footerSectionContact {
        justify-content: center;
    }

    #footerSectionLogo {
        margin-top: 15px;
    }
}